<div class="container">
  <h2 mat-dialog-title class="text-primary text-right">התחברות
    <span
        class="close float-left text-danger"
        mat-dialog-close>&times;</span>
  </h2>
  <hr />
  <form
    #form="ngForm"
    (ngSubmit)="handleSubmit(form)">

    <mat-dialog-content class="text-right" style="font-size: 16px;" dir="rtl">
      <mat-form-field class="w-100">
        <input
          class="border-0 p-0"
          matInput
          ngModel
          name="username"
          required
          placeholder="שם משתמש:">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          class="border-0 p-0"
          matInput
          ngModel
          name="password"
          required
          type="password"
          placeholder="סיסמא:">
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        class="w-100 m-1"
        type="submit"
        mat-flat-button
        color="warn">
        התחבר
      </button>
    </mat-dialog-actions>
  </form>
</div>
