<div class="container">
  <h2 mat-dialog-title class="text-danger text-right">מחיקת סוכן</h2>
  <hr />
  <mat-dialog-content class="text-right">
   ?<span class="text-danger"> ({{data.name}}) {{data.id}}</span> האם אתה בטוח שברצונך למחוק סוכן מספר
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-between">
    <button
      mat-button
      color="warn"
      [mat-dialog-close]="true">
      כן
    </button>
    <button
      mat-button
      mat-dialog-close>
      לא
    </button>
  </mat-dialog-actions>
</div>
